<!DOCTYPE html>
<html xmlns"http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymelef.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
   <th:block layout:fragment="head">
     <title>Spring Boot</title>
   </th:block>
   <body>
     <th:block layout:fragment="header" th:include="@{/fragment/header}"></th:block>
     <th:block layout:fragment="nav" th:include="@{/fragment/nav}"></th:block>
     <th:block layout:fragment="content" th:include="@{/fragment/content}"></th:block>
     <h1>회원가입</h1>
       <table>
         <form method="post" action="/" th:object="${formModel}">
           <tr><th>성명</th>
               <td><input type="text" name="name" th:value="*{name}"/></td></tr>
           <tr><th>비밀번호</th>
               <td><input type="password" name="password" th:value="*{password}"/></td></tr>
           <tr><th>비밀번호 확인</th>
               <td><input type="password" name="repassword"/></td></tr>
           <tr><th>연락처</th>
               <td><input type="text" name="phone" th:value="*{phone}"/></td></tr>
           <tr><th>주소</th>
               <td><input type="text" name="address" th:value="*{address}"/></td></tr>
           <tr><td></td><td><input type="submit" value="등록" /><input type="cancel" value="취소" /></td></tr>
         </form>
       </table>
   </body>
</html>